.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  /* força o SVG a caber dentro de 200x200 sem ultrapassar */
  width: 200px;
  height: 200px;
  max-width: 200px;
  max-height: 200px;

}
